/NV.LogUtils/_ReSharper.NV.LogUtils

/NV.LogUtils/NV.LogUtils.Common/obj

/NV.LogUtils/NV.LogUtils.v11.suo

/NV.LogUtils/MSBuild/NV.LogUtils.MSBuild.WarningsCounter/obj

/NV.LogUtils/MSBuild/NV.LogUtils.MSBuild/obj

/NV.LogUtils/MSBuild/NV.LogUtils.MSBuild.WarningsCounter/bin

/NV.LogUtils/MSBuild/NV.LogUtils.MSBuild/bin

/NV.LogUtils/NV.LogUtils.Common/bin
/NV.LogUtils/MSBuild/NV.LogUtils.MSBuild.WarningsCounter/*.user
/bin/Common/*.pdb
/bin/MSBuild/*.pdb
/bin/*.pdb
/bin/WarnCounter.vshost.exe
/bin/WarnCounter.vshost.exe.config
